### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [21]:
data = pd.read_csv('movies.csv')
data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [34]:
data2 = pd.read_csv('ratings.csv')
new = data.merge(data2)
new = new[ new.rating == 5 ]
top = new.groupby('title').sum()
top.sort_values('rating', ascending=False, inplace = True)
top.head(1)

                                  movieId  userId  rating     timestamp
title
Shawshank Redemption, The (1994)    48654   48779   765.0  176523170926

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [155]:
filtered_countries = data[ (data['country']=='Estonia') |  (data['country']=='Latvia') |  (data['country']=='Litva')]
# filtered_countries.country.unique()
filtered_category = filtered_countries[ (filtered_countries['category']==4) | (filtered_countries['category']==12) | (filtered_countries['category']==21) ]
# filtered_category.category.unique()
filter_year = filtered_category[ (filtered_category['year']<=2010 ) & (filtered_category['year']>=2005 )]
# filter_year.year.unique()
filter_quantity = filter_year[ (filter_year['quantity'] >= 0)]
filter_quantity.head()
topchik = filter_quantity.groupby('country').sum()
topchik

           year  quantity  category
country
Estonia  198714   63440.0      1620
Latvia   184710   54844.0      1728

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [162]:
pd.read_html('https://fortrader.org/quotes')[3]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,ВТБ Акции ВТБ,0.036595,-0.000010,-0.027319,NaN
1,Газпром Акции газпрома,196.010000,0.00,0.00,NaN
2,Лукойл Акции Лукойл,5328.500000,нет данных,нет данных,NaN
3,Роснефть Акции Роснефти,374.550000,нет данных,нет данных,NaN
4,Сбербанк Акции Сбербанка,207.800000,0.00,0.00,NaN
5,Сургутнефтегаз Акции Сургутнефтегаза,39.930000,0.000,0.000,NaN
6,Норникель Акции Норникель,19398.000000,нет данных,нет данных,NaN
7,Аэрофлот Акции Аерофлота,87.720000,-0.10,-0.11,NaN
8,Северсталь Акции Северсталь,939.400000,нет данных,нет данных,NaN
9,Транснефть Акции Транснефть,137000.000000,0,0,NaN
10,Ростелеком Курс акций ростелекома,83.640000,-0.01,-0.01,NaN
11,РУСАЛ Акции РУСАЛ (RUAL),26.770000,0.000,0.000,NaN
12,НМЛК Акции НЛМК (NLMK),135.360000,-0.060,-0.044,NaN
13,Алроса Акции АЛРОСА (ALRS),62.930000,-0.050,-0.079,NaN
14,Магнит Акции Магнит (MGNT),4015.000000,-1.0,-0.0,NaN
15,М.видео Акции М.видео (MVID),412.600000,0.00,0.00,NaN
16,"Газпром нефть Акции ""Газпром нефть"" (SIBN)",348.800000,0.00,0.00,NaN
17,НМТП Акции НМТП (NMTP),9.180000,-0.0150,-0.1631,NaN
18,Полиметалл Акции Полиметалл (POLY),1415.100000,+59.10,+4.36,NaN
19,Полюс Золото Акции Полюс Золото (PLZL),10888.000000,0.0,0.0,NaN
20,НОВАТЭК Акции НОВАТЭК (NVTK),1067.600000,-0.40,-0.04,NaN
21,РусГидро Акции РусГидро (HYDR),0.780000,-0.0003,-0.0384,NaN
22,Татнефть Акции Татнефть (TATN),576.000000,0.00,0.00,NaN
23,"АФК Система Акции АФК ""Система"" (AFKS)",16.110000,0.000,0.000,NaN
24,МТС Акции МТС,323.050000,0.00,0.00,NaN
25,Башнефть Акции Башнефть (BANE),1791.000000,0.0,0.0,NaN
26,Яндекс Акции Яндекс (YNDX),2850.000000,0.0,0.0,NaN
27,X5 Retail Group Акции X5 Retail Group (FIVE),2169.500000,-175.50,-7.48,NaN
28,ФСК ЕЭС Акции ФСК ЕЭС (FEES),0.183520,-0.00196,-1.05672,NaN
29,Мечел Акции Мечел (MTLR),66.290000,0.00,0.00,NaN
30,МосБиржа Акции МосБиржа (MOEX),115.450000,-0.03,-0.03,NaN

In [184]:
html = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
df = pd.read_html(html, attrs = {'class': 'quote_list'}, encoding='utf-8')

In [185]:
df[:5]

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB       876379      -               874910
 1          NaN            EUR/RUB       784520      -               791120
 2          NaN            USD/RUB       698700      -               700531
 3          NaN            JPY/RUB        06508      -                06496
 4          NaN            CNY/RUB        98640      -                98458
 5          NaN            CHF/RUB       733948      -               732427
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        11258      -                11257
 8          NaN            EUR/GBP        08978      -                08966
 9          NaN            EUR/JPY      1208450      -              1208300
 10         NaN            EUR/CHF        10720      -                10723
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08883      -                08884
 13         NaN            USD/GBP        07973      -                07971
 14         NaN            USD/JPY      1073550      -              1068130
 15         NaN            USD/CHF        09520      -                09443
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        08300      -                08300
 18         NaN            JPY/GBP        00074      -                00074
 19         NaN            JPY/USD        00093      -                00093
 20         NaN    JPY/CHF (100:1)        08900      -                08900
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        12543      -                12545
 23         NaN            GBP/JPY      1346554      -              1346769
 24         NaN            GBP/EUR        11145      -                11155
 25         NaN            GBP/CHF        11947      -                11893
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        11947      -                11893
 28         NaN            EUR/CHF        10720      -                10723
 29         NaN    JPY/CHF (100:1)        08900      -                08900
 30         NaN            USD/CHF        09520      -                09443
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       300319      -               301168
 33         NaN            USD/UAH       266760      -               267550
 34         NaN            CHF/UAH       280218      -               280981
 35         NaN            GBP/UAH       334598      -               335642

           %  Абсолютное значение       Время
 0    0,17 %                01470  13.06.2020
 1   -0,83 %               -06600  13.06.2020
 2   -0,26 %               -01831  13.06.2020
 3    0,18 %                00012  13.06.2020
 4    0,18 %                00182  13.06.2020
 5    0,21 %                01521  13.06.2020
 6         %  Абсолютное значение       Время
 7    0,01 %                00002  13.06.2020
 8    0,13 %                00012  13.06.2020
 9    0,01 %                00150  13.06.2020
 10  -0,03 %               -00003  13.06.2020
 11        %  Абсолютное значение       Время
 12  -0,01 %               -00001  13.06.2020
 13   0,02 %                00001  13.06.2020
 14   0,51 %                05420  13.06.2020
 15   0,81 %                00077  13.06.2020
 16        %  Абсолютное значение       Время
 17  -0,01 %                00000  13.06.2020
 18   0,02 %                00000  13.06.2020
 19   0,00 %                00000  13.06.2020
 20   0,01 %                00000  13.06.2020
 21        %  Абсолютное значение       Время
 22  -0,02 %               -00002  13.06.2020
 23  -0,02 %               -00215  13.06.2020
 24  -0,09 %               -00010  13.06.2020
 25   0,45 %                00054  13.06.2020
 26        %  Абсолютное значение       Время
 27   0,45 %                00054  13.06.2020
 28  -0,03 %               -00003  13.06.2020
 29   0,01 %                00000  13.06.2020
 30   0,81 %                00077  13.06.2020
 31        %  Абсолютное значение       Время
 32  -0,28 %               -00849  13.06.2020
 33  -0,30 %               -00790  13.06.2020
 34  -0,27 %               -00763  13.06.2020
 35  -0,31 %               -01044  13.06.2020  ]